body {
    background-color: #999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    padding: 0 10%;
}

.subtext {
    color: #e5e7eb;
}

.logo, .heading{
    color: #f9faf8;    
}

.logo {
    font-size: 24px;
}

.heading{
    font-size: 48px;
    font-weight: extra-bold;
}

.header p {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.second_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px 0 130px 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 20% 20px 20%;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 10px 28px;
    font-weight: bold;
    border: none;
}

.second_b {
    border: 3px solid #fff;
}

.left-side {
    width: 400px;
}